@media print{
    body{margin: auto; text-indent: 3em;}
    hr{display: none}
    h1, h2, h3, h4, h5{font-size: 12pt;}
    h1{text-decoration:underline; text-align:center;}
    a:after {content: " (" attr(href) ")";}
    a:link, a:visited { color: #000000;font-weight: normal;text-decoration: underline;}

    p{text-align: justify;}

    p#data, p#presidente, p#ministro, p#dou{
    /*
    text-align:right;
    */
    padding:0;
    }
    p#data{
    }
    p#presidente {
    font-decoration: none;
    margin-bottom:0;
    padding-bottom: 0;
    }
    p#ministro{
    display: block;
    font-style:italic;
    margin:0;
    }
    p#dou {
    font-weight: bold;
    /*color:#F00;*/
    }
}

@media screen{
    body{ font-family: Arial; text-align: justify;}
    h1,h2, h3{text-align:center}
    p{text-indent: 5em;}
    h1 {
    text-indent:0;
    font-size: 16pt;
    text-align:center;
    }

    h1#header{
    width:100%; /* Largura total - Se você omitir ocupará toda a linha */
    height: 5em;
    font: bold 44px Arial, Helvetica, sans-serif; /* Tamanho e família de fontes */
    color: #808000; /* Cor da fonte */
    background: #fff url("http://www.planalto.gov.br/ccivil_03/Brastra.gif") 6em 1em no-repeat;
    background-size: 120px Auto;
    padding-top: 0em;
    display: block;
    /*border-top: 2px dotted #F58221; /* Borda em cima */
    /*border-right: 2px dotted #F58221; /* Borda a direita */
    /*border-bottom: 2px dotted #F58221; /* Borda em baixo */
    /*border-left: 2px dotted #F58221; /* Borda a esquerda*/
    padding-left:1em; /* Espaçamento do texto a esquerda */
    }

    h1#header span {
    /*display: none;*/
    padding-top:1em; /* Espaçamento do texto no topo */
    padding-bottom:0em; /* Espaçamento do texto em baixo */
    vertical-align: middle;
    display: block;
    }
    h1#header span span{
    /*display: none;*/
    padding-top:0em; /* Espaçamento do texto no topo */
    font: bold 28px Arial, Helvetica, sans-serif; /* Tamanho e família de fontes */
    vertical-align: middle;
    display: block;
    }
    h2{ color="#000080"; }
    a:link, a:visited{ color="#000080";}

    p#resumo{
    color: #800000;
    padding: 3em;
    padding-top:3em; /* Espaçamento do texto em baixo */
    padding-bottom:2em; /* Espaçamento do texto em baixo */
    padding-left:0em; /* Espaçamento do texto em baixo */
    padding-right:15em; /* Espaçamento do texto em baixo */
    text-align:right;
    font: 14px Arial, Helvetica, sans-serif; /* Tamanho e família de fontes */
    }
    p#data, p#presidente, p#ministro, p#dou{
    /*
    text-align:right;
    */
    padding:0;
    }
    p#data{
    }
    p#presidente {
    font-decoration: none;
    margin-bottom:0;
    padding-bottom: 0;
    }
    p#ministro{
    display: block;
    font-style:italic;
    margin:0;
    }
    p#dou {
    font-weight: bold;
    color:#F00;
    }


}
