body {
color: #000;
background: #fff;
text-align: justify;
text-indent: 5em;
text-decoration: none;
font: normal 12pt Arial, Verdana, Sans-serif;
margin: 5em;
margin-top: 2em;
margin-bottom: 5em;
margin-right: 2em;
margin-left: 5em;
padding: 2em;
padding-top: 0em;
padding-bottom: 2em;
padding-right: 2em;
padding-left: 2em;
}
h1 {
text-indent:0;
font-size: 16pt;
text-align:center;
}

h1#header{
width:100%; /* Largura total - Se você omitir ocupará toda a linha */
height: 5em;
font: 32px Arial, Helvetica, sans-serif; /* Tamanho e família de fontes */
color: #808000; /* Cor da fonte */
background: #fff url("http://www.planalto.gov.br/ccivil_03/Brastra.gif") .3em .3em no-repeat;
background-size: 120px Auto;
padding-top: 0;
/*border-top: 2px dotted #F58221; /* Borda em cima */
/*border-right: 2px dotted #F58221; /* Borda a direita */
/*border-bottom: 2px dotted #F58221; /* Borda em baixo */
/*border-left: 2px dotted #F58221; /* Borda a esquerda*/
padding-left:1em; /* Espaçamento do texto a esquerda */
}

h1#header span {
/*display: none;*/
padding-top:1em; /* Espaçamento do texto no topo */
padding-bottom:0em; /* Espaçamento do texto em baixo */
vertical-align: middle;
display: block;
}
h1#header span span{
/*display: none;*/
padding-top:0em; /* Espaçamento do texto no topo */
font: 18px Arial, Helvetica, sans-serif; /* Tamanho e família de fontes */
vertical-align: middle;
display: block;
}

p {
font-size: 12pt;
color: #000;
text-align:justify;
}

p#resumo {
color: #800000;
padding: 3em;
padding-top:3em; /* Espaçamento do texto em baixo */
padding-bottom:2em; /* Espaçamento do texto em baixo */
padding-left:0em; /* Espaçamento do texto em baixo */
padding-right:15em; /* Espaçamento do texto em baixo */
text-align:right;
font: 14px Arial, Helvetica, sans-serif; /* Tamanho e família de fontes */
}

p#titulo {
color: #000080;
text-align:center;
text-decoration: underline;
font: 16px Arial, Helvetica, sans-serif; /* Tamanho e família de fontes */
font-weight: 900; /*Negrito*/
}

p.strike {
text-decoration: none;
font-size: 8pt;
}

p.strike span{
text-decoration: line-through;
}

p.assinatura {
text-align:left;
}

p.assinatura span{
display: block;
font-style:italic;
}

p.dou {
font-weight: bold;
color:#F00;
}
