@media print{
    p, h2, h5 {
    font-family: Arial, Helvetica, sans-serif;
    color: #000000;
    font-size: 12px;
    }
    a:after {content: " (" attr(href) ")";}
    a:link, a:visited {
    color: #000000;
    font-weight: bold;
    text-decoration: underline;
    }
    body {
    background-color: #FFFFFF;
    text-align: justify;
    }
}
@media screen{
    p {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: #0000CC;
    }
    h2 {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    color: #FF0000;
    }
    h5 {
    color: #FFCC33;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    }
    a:link {
    color: #FF9900;
    }
    a:visited {
    color: #FF9A00;
    }
    a:hover {
    color: #FF9A00;
    }
    a:active {
    color: #FF9A00;
    }
}
