@media print{
   a:after {content: " (" attr(href) ")";}
   a:link, a:visited	{color: #333; text-decoration: underline;}
   body	{background: #FFF; color: #000; font: 12pt serif; text-align:justify; margin:auto;}
   .page-break { page-break-before: always;}
   h1#header span{font: 16; color: black;}
   }
