@media screen and (max-width: 300px) {
  header{
    background: #fff url("http://www.planalto.gov.br/ccivil_03/Brastra.gif") no-repeat;
    }
  h1{
    padding-top: 500px;
  }
}
  html{min-width:300px;}
  body { font-family: arial; font-size:14pt; text-align: justify; margin:0; padding:.5em;}
  h1,h2, h3{text-align:center; margin:0;}
  h1 {
    text-indent:0;
    font-size: 3vmax;
    }
  header{
    width:100%; /* Largura total - Se você omitir ocupará toda a linha */
    height: auto;
    color: #808000; /* Cor da fonte */
    /*background: #ff0 url("http://www.planalto.gov.br/ccivil_03/Brastra.gif") no-repeat;*/
    background: #fff url("http://www.planalto.gov.br/ccivil_03/Brastra.gif") 10em 1.5em no-repeat;

    background-size: 120px Auto;
    padding-top: 0em;
    display: block;
    margin:0;
    /* Espaçamento do texto a esquerda */
    /*padding-left:1em;*/
    }
  header h1 {
    /*display: none;*/
    font: bold 44px Arial, Helvetica, sans-serif; /* Tamanho e família de fontes */
    padding-top:1em; /* Espaçamento do texto no topo */
    padding-bottom:0em; /* Espaçamento do texto em baixo */
    vertical-align: middle;
    display: block;
    }
  header h2, header h3 {
    /*display: none;*/
    padding-top:0em; /* Espaçamento do texto no topo */
    font: bold 28px Arial, Helvetica, sans-serif; /* Tamanho e família de fontes */
    vertical-align: middle;
    display: block;
    }
  section{
    background-color: red;
    display:inline;
    }
  footer{
    background-color:inherit;
  }
  h2{ color="#000080"; }
    a:link, a:visited{ color="#000080";}

  p{
    /* Tamanho e família de fontes */
    /*font: 20px Arial, Helvetica, sans-serif;*/
    text-indent: 5em;

    }
  p#titulo {
    font-size: 3vmin;
    font-weight: 900; /*Negrito*/
    color: #000080;
    text-align:center;
    text-decoration: underline;
  }
  p#resumo{
    font-size: 3vmin;
    color: #800000;
    padding: 3em;
    padding-top:3em; /* Espaçamento do texto em baixo */
    padding-bottom:2em; /* Espaçamento do texto em baixo */
    padding-left:0em; /* Espaçamento do texto em baixo */
    padding-right:0em; /* Espaçamento do texto em baixo */
    text-align:right;
    }
  p#data, p#presidente, .ministro, p#dou{
    /*
    text-align:right;
    */
    padding:0;
    text-indent: 0;
    }
  p#data{   }
  p#presidente {
    font-decoration: none;
    margin-bottom:0;
    padding-bottom: 0;
    }
  p.ministro{
    display: block;
    font-style:italic;
    margin:0;
    }
  p#dou {
    font-weight: bold;
    color:#F00;
    }
  blockquote.nota::before{
    font-family: "FontAwesome";
    content: "\f10d";
    font-size: 3em;
    padding-right:.2em;
  }
  blockquote.nota::after{
    font-family: "FontAwesome";
    content: "\f10e";
    font-size: 3em;
    vertical-align: -20px;
    padding-left:.2em;
  }
  blockquote.nota {
    font: 16px/20px serif, arial;
    padding-left: 3em;
    padding-top: 1.2em;
    padding-bottom: 1.2em;
    padding-right: 2em;
    background-color: #eee;
    border-top: 3px solid #f00;
    border-bottom: 3px solid #f00;
    margin: .8em;
    text-indent: 1.5em;
    text-align:justify;
  }
