a:link, a:visited, a:hover{
  color: #000080;
  font-family: arial;
}
.revogado{text-decoration: line-through;}
@media print{
  a:after {content: " (" attr(href) ")";}
  a:link, a:visited { color: #000000;font-weight: bold;text-decoration: underline;}
  header{
    padding-top: 0em;
    display: block;
    margin:0;
    text-align:center;
  }
  header::before{
    content: "";
    background-image:url(http://www.planalto.gov.br/ccivil_03/Brastra.gif);
    background-size: 80px 80px;
    background-position:center;
    background-repeat:no-repeat;
    -webkit-print-color-adjust: exact;
    color-adjust: exact;
    display: inline-block;
    display: inline-block;
    /*size of your image*/
    height: 100px;
    width:100px;
    /*if you want to change the position you can use margins or:*/
    /*position:relative;*/
  }

  h1{font-size:18;}
  h2{font-size:16;}
  h3{font-size:14;}
  h1,h2, h3{margin:0;}

  #data, #presidente, #titulo, .ministro, .dou{
    font-size:12;
    text-indent:0;
  }
  p{
    text-align:justify;
    text-indent: 3em;
    font-size:12;
    /*
    text-align:right;
    */
    padding:0;
    text-indent: 3em;
  }
    p#titulo {
    font-size: 12pt;
    font-weight: 900; /*Negrito*/
    color: #000;
    text-align:center;
    text-decoration: underline;
    padding-top:.8em;
  }
  p#resumo{font-style:italic; padding-top:2em; padding-bottom:1.5em; padding-left:5em; padding-right:1em; text-align:right; }
  p#data{   }
  p#presidente {
    font-decoration: none;
    margin-bottom:0;
    padding-top: 1em;
    padding-bottom: 0;
    }
  p.ministro{
    display: block;
    font-style:italic;
    margin:0;
    }
  p.dou {
    font-weight: bold;
    color:#000;
    text-align:center;
    }
}
@media screen and (max-width: 1099px){
  header{
    width:100%; /* Largura total - Se você omitir ocupará toda a linha */
    height: auto;
    color: #808000; /* Cor da fonte */
    padding-top: 0em;
    display: block;
    margin:0;
    /* Espaçamento do texto a esquerda */
    /*padding-left:1em;*/
    text-align:center;
    }
  header::before{
    content: "";
    /*background-image:url(https://image.freepik.com/vetores-gratis/tux-personagem-com-papel-em-branco-para-o-seu-texto_52478.jpg);*/
    background-image:url(http://www.planalto.gov.br/ccivil_03/Brastra.gif);
    background-size: 100% 100%;
    display: inline-block;
    /*size of your image*/
    height: 100px;
    width:100px;
    /*if you want to change the position you can use margins or:*/
    /*position:relative;*/
  }
  header h1 {
    /*display: none;*/
    font: bold 44px Arial, Helvetica, sans-serif; /* Tamanho e família de fontes */
    padding-top:0em; /* Espaçamento do texto no topo */
    padding-bottom:0em; /* Espaçamento do texto em baixo */
    vertical-align: middle;
    display: block;
    }
  header h2, header h3 {
    /*display: none;*/
    padding-top:0em; /* Espaçamento do texto no topo */
    font: bold 28px Arial, Helvetica, sans-serif; /* Tamanho e família de fontes */
    vertical-align: middle;
    display: block;
    }
  h1,h2, h3{text-align:center; margin:0;}
  p{
    /* Tamanho e família de fontes */
    /*font: 20px Arial, Helvetica, sans-serif;*/
    text-indent: 5em;

    }
  p#titulo {
    font-size: 3vmin;
    font-weight: 900; /*Negrito*/
    color: #000080;
    text-align:center;
    text-decoration: underline;
  }
  p#resumo{
    font-size: 3vmin;
    color: #800000;
    padding: 3em;
    padding-top:3em; /* Espaçamento do texto em baixo */
    padding-bottom:2em; /* Espaçamento do texto em baixo */
    padding-left:0em; /* Espaçamento do texto em baixo */
    padding-right:0em; /* Espaçamento do texto em baixo */
    text-align:right;
    }
  #data, #presidente, .ministro, .dou{
    /*
    text-align:right;
    */
    padding:0;
    text-indent: 0;
    }
  p#data{   }
  p#presidente {
    font-decoration: none;
    margin-bottom:0;
    padding-bottom: 0;
    }
  p.ministro{
    display: block;
    font-style:italic;
    margin:0;
    }
  p.dou {
    font-weight: bold;
    color:#F00;
    }

}
@media screen and (min-width: 1100px){

  header{
    width:100%; /* Largura total - Se você omitir ocupará toda a linha */
    height: auto;
    color: #808000; /* Cor da fonte */

    background: #fff url("http://www.planalto.gov.br/ccivil_03/Brastra.gif") 10em 1.5em no-repeat;
    background-size: 120px Auto;
    padding-top: 0em;
    display: block;
    margin:0;
    /* Espaçamento do texto a esquerda */
    /*padding-left:1em;*/
    text-align:center;
    }
  header h1 {
    /*display: none;*/
    font: bold 44px Arial, Helvetica, sans-serif; /* Tamanho e família de fontes */
    padding-top:1em; /* Espaçamento do texto no topo */
    padding-bottom:0em; /* Espaçamento do texto em baixo */
    vertical-align: middle;
    display: block;
    }
  header h2, header h3 {
    /*display: none;*/
    padding-top:0em; /* Espaçamento do texto no topo */
    font: bold 28px Arial, Helvetica, sans-serif; /* Tamanho e família de fontes */
    vertical-align: middle;
    display: block;
    }
  h1,h2, h3{text-align:center; margin:0;}
  p{
    /* Tamanho e família de fontes */
    /*font: 20px Arial, Helvetica, sans-serif;*/
    text-indent: 5em;

    }
  p#titulo {
    font-size: 3vmin;
    font-weight: 900; /*Negrito*/
    color: #000080;
    text-align:center;
    text-decoration: underline;
  }
  p#resumo{
    font-size: 3vmin;
    color: #800000;
    padding: 3em;
    padding-top:3em; /* Espaçamento do texto em baixo */
    padding-bottom:2em; /* Espaçamento do texto em baixo */
    padding-left:0em; /* Espaçamento do texto em baixo */
    padding-right:0em; /* Espaçamento do texto em baixo */
    text-align:right;
    }
  #data, #presidente, .ministro, .dou{
    /*
    text-align:right;
    */
    padding:0;
    text-indent: 0;
    }
  p#data{   }
  p#presidente {
    font-decoration: none;
    margin-bottom:0;
    padding-bottom: 0;
    }
  p.ministro{
    display: block;
    font-style:italic;
    margin:0;
    }
  p.dou {
    font-weight: bold;
    color:#F00;
    }
}
@media screen and (min-width: 1100px){

  header{
    width:100%; /* Largura total - Se você omitir ocupará toda a linha */
    height: auto;
    color: #808000; /* Cor da fonte */

    background: #fff url("http://www.planalto.gov.br/ccivil_03/Brastra.gif") 10em 1.5em no-repeat;
    background-size: 120px Auto;
    padding-top: 0em;
    display: block;
    margin:0;
    /* Espaçamento do texto a esquerda */
    /*padding-left:1em;*/
    text-align:center;
    }
  header h1 {
    /*display: none;*/
    font: bold 44px Arial, Helvetica, sans-serif; /* Tamanho e família de fontes */
    padding-top:1em; /* Espaçamento do texto no topo */
    padding-bottom:0em; /* Espaçamento do texto em baixo */
    vertical-align: middle;
    display: block;
    }
  header h2, header h3 {
    /*display: none;*/
    padding-top:0em; /* Espaçamento do texto no topo */
    font: bold 28px Arial, Helvetica, sans-serif; /* Tamanho e família de fontes */
    vertical-align: middle;
    display: block;
    }
  h1,h2, h3{text-align:center; margin:0;}
  p{
    /* Tamanho e família de fontes */
    /*font: 20px Arial, Helvetica, sans-serif;*/
    text-indent: 5em;

    }
  p#titulo {
    font-size: 3vmin;
    font-weight: 900; /*Negrito*/
    color: #000080;
    text-align:center;
    text-decoration: underline;
  }
  p#resumo{
    font-size: 3vmin;
    color: #800000;
    padding: 3em;
    padding-top:3em; /* Espaçamento do texto em baixo */
    padding-bottom:2em; /* Espaçamento do texto em baixo */
    padding-left:0em; /* Espaçamento do texto em baixo */
    padding-right:0em; /* Espaçamento do texto em baixo */
    text-align:right;
    }
  #data, #presidente, .ministro, .dou{
    /*
    text-align:right;
    */
    padding:0;
    text-indent: 0;
    }
  p#data{   }
  p#presidente {
    font-decoration: none;
    margin-bottom:0;
    padding-bottom: 0;
    }
  p.ministro{
    display: block;
    font-style:italic;
    margin:0;
    }
  p.dou {
    font-weight: bold;
    color:#F00;
    }
}
