@page {
  size: A4 portrait;
}

@page :left {
  margin-left: 3cm;
}

@page :right {
  margin-left: 4cm;
}

@page :first {
    font-family: 'Shadows Into Light', cursive;
    font-family: 'Cormorant Garamond', serif;
    font-family: 'Satisfy', cursive;
    font-family: 'Cookie', cursive;
    font-family: 'Great Vibes', cursive;
}


@page :blank {
  @top-center { content: "This page is intentionally left blank." }
}

@page:left{
  @bottom-left {
    content: "Page " counter(page) " of " counter(pages);
  }
}

@page:right{
  @bottom-right {
    content: counter(page);
  }
}

@page:left{
  @bottom-left {
    content: counter(page);
  }
}

body {
  counter-reset: chapternum;
}

h1.chapter:before {
  counter-increment: chapternum;
  content: counter(chapternum) ". ";
}
