body {
	margin-left:2%;
    margin-right:2%;
    margin-top:2%;
    margin-bottom:2%;
}

p {
	text-indent: .3in;
    margin-left:0;
    margin-right:0;
    margin-top:0;
    margin-bottom:0;
    font-family:"Times New Roman";
    font-size: 1em;
}

h1 { 
 	text-align: center;
    font-family:"Times New Roman"; 
}

h2 { 
	text-align: center;
    font-family:"Times New Roman"; 
}

h3 { 
	text-align: center;
    font-family:"Times New Roman"; 
}

.center   {
	text-align: center;
}

.underline {
	text-decoration: underline;
}

.bold     {
	font-weight: bold;
}

