@media print{
body{margin: auto; text-indent: 3em;}
hr{display: none}
h1{text-decoration:underline; text-align:center;}
a:after {content: " (" attr(href) ")";}
a:link, a:visited { color: #000000;font-weight: bold;text-decoration: underline;}
#Languages{ display: none;}
p{text-align: justify;}
#generated {  display: block; text-align:right;}
.boxed {display: block; padding-top: 3em; text-align:center;}
}

@media screen{
body{text-align: justify; text-indent: 2em; font: normal 14px 'Times', Arial, Helvetica, sans-serif; }
h1, h2, h3, h4, h5{text-align: center; font-weight: 900;}
h1{color: red; font-size: 3em;}
h4,h5{color:blue; margin-top:0; margin-bottom:0;}

 p {color: gray; text-align: justify;}

 #generated {  display: block; text-align:right;}
 #Languages { display: inline;}
 .boxed {display:block; padding-bottom: 5em; width: 100%; text-align:center}
}

